<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<style>
   
</style>

<body>
<div id="app">
    {{val}}
    <el-radio v-model="val" label="A">A.白菜</el-radio>
    <el-radio v-model="val" label="B">B.胡萝卜</el-radio>
    <hr>
    {{sal}}
    <el-checkbox v-model="sal" :label="1">白兔</el-checkbox>
    <el-checkbox v-model="sal" :label="2">松鼠</el-checkbox>
    <el-checkbox v-model="sal" :label="3">大熊</el-checkbox>
</div>
</body>

</html>
<script>
    let app=new Vue({
        el:"#app",
        data() {
            return {
                val:"A",
                sal:[],
            }
        },
    })
    
</script>